h1 {
  color: #6f6219;
}

p.ribotas-plotis {
  width: 400px;
}

p.ribotas-plotis span {
  width: 100px;
  height: 50px;
  padding: 10px;
  background-color: yellow;
  display: inline-block;
}


.prekes {
  display: flex;
}