h1 {
    color: red;
}

div.content {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 200px auto 200px;
    grid-template-areas: 
        "header header"
        "sidebar content"
        "footer footer";
    column-gap: 10px;
    row-gap: 20px;
}

div.header {
    grid-area: header;
    background-color: green;
}

div.sidebar {
    grid-area: sidebar;
    background-color: red;
}

div.article {
    grid-area: content;
    background-color: yellow;
}

div.footer {
    grid-area: footer;
    background-color: blue;
}




@media only screen and (max-width: 700px) {

}